@media(max-width:760px){
    .sidebarBox{
        /* background-color:red; */
        width:0px;
        overflow:hidden;
        padding:0px;
    }
    .MobileNav{
        display:flex;
    }
}

.cursor-dot {
            width: 8px;
            height: 8px;
            /* background-color: rgba(255, 255, 255, 0.9); */
            border-radius: 50%;
            position: absolute;
            pointer-events: none;
            z-index: 10000;
            mix-blend-mode: difference;
        }
        
        .cursor-trail {
            width: 24px;
            height: 24px;
            /* border: 2px solid rgba(255, 255, 255, 0.5); */
            border-radius: 50%;
            position: absolute;
            pointer-events: none;
            z-index: 9999;
            transform: translate(-50%, -50%);
            mix-blend-mode: difference;
            transition: transform 100ms ease, opacity 300ms ease;
            
        }
        
        .particle {
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: #38bdf8;
            border-radius: 50%;
            pointer-events: none;
            z-index: 9998;
            opacity: 0;
            animation: fade 1s forwards;
        }
        
        @keyframes fade {
            0% { opacity: 1; transform: scale(4); }
            100% { opacity: 0; transform: scale(10); }
        }
        

        html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;  /* 🚀 Prevent scrollbars */
}
